   .title {
    font-size: 8rem;
    text-align: center;
    font-family: 'Hilds', 'Arial', sans-serif;
  }
  
  .AddTaskButtonActive {
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .AddTaskButtonActive:hover {
    transform: scale(1.1);
  }
   
  .todoList {
    width: 100%;
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  .todoList li {
    margin-bottom: 5rem;
    font-size: 1rem;
  }