@font-face {
    font-family:'Hilda';
    src: url('assets/Hilds___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* body */
body {
    background-color: #47ABA9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*header*/
.header {
    position: relative;
    padding: 20px;
    background-color: #47ABA9;
    overflow: hidden; /* Hide overflow if images extend beyond header */
    height: 250px;
}

/* clouds */
.header-clouds {
    position: absolute;
    top: 0;
    width: 400px;
    height: auto;
}

.left-cloud {
    left: 0;
    margin-left: -10px; 
}

.right-cloud {
    right: 0;
    margin-right: -5px;
}

.header-content {
    text-align: center;
    padding-top: 25px;
}

/* title */
.header h1 {
    margin: 0;
    font-family: Hilda, Arial, sans-serif;
    font-size: 5.5em;
    color: #E1CF7D;
    text-shadow: 
        2px 2px 0 rgba(182, 138, 91, 0.8), /* Brown shadow */
        4px 4px 0 rgba(0, 0, 0, 0.5); /* Black shadow */
}

/* login */
.login-button {
    position: absolute;
    top: 75px; /* Adjust to position vertically */
    right: 50px; /* Adjust to position horizontally */
    padding: 10px 20px;
    background-color: #B68A5B; /* Green background */
    color: #EEDFA9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    z-index: 2; /* Ensure button is above the cloud */
    transition: background-color 0.3s;
}

/* grimoire */
/* Desk Section */
.grimoire-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Adjust this value based on your image aspect ratio */
    margin-bottom: 20px; /* Space between sections */
}
.grimoire-section {
    background-image: url('assets/desk.png'); /* Path to your desk image */
    background-size: contain; /* Cover the entire section */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    height: 650px;
    padding: 50px; /* Add padding for content */
    color: white; /* Text color */
    text-align: center; /* Center text */
}

/* papers */
.papers.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the size of the paper relative to the desk */
    height: auto;
    z-index: 1; /* Ensure paper is above the desk */   
}

.papers {
    position: absolute;
    height: auto;
}

.paper-todo {
    top: 40%; /* Adjust these values to position the paper */
    left: 5%;
    width: 60%; /* Adjust as needed */
    z-index: 2; /* Higher than paper-user to appear on top */
}

.paper-user {
    top: 55%; /* Adjust these values to position the paper */
    left: 40%;
    width: 60%; /* Adjust as needed */
    z-index: 1;
}
