.victoryContainer {
    background-color: #5E7255;
    background-image: 
      url('/assets/map/decors/Tree1.gif'),
      url('/assets/map/decors/Tree2.gif'),
      url('/assets/map/decors/Tree3.png');
    background-repeat: 
      repeat,
      repeat,
      repeat;
      background-position: 
      100px 150px,
      0px 5px,
      3500px 3500px; 
    background-size: 
      100px auto,
      105px auto,
      120px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .victoryContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(94, 114, 85, 0.40); /* Adjust the last value for opacity */
    z-index: 1;
  }
  
  .banner {
    background-color: #B68A5B;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .banner h1 {
    color: black;
    z-index: 2;
  }
  
  .banner p {
    color: black;
    z-index: 2;
  }
  
  .returnButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #EEDFA9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
  }
  
  .returnButton:hover {
    background-color: #E1CF7D;
    z-index: 2;
  }
  