.dayGifContainer {
  display: flex;
  flex-direction: column;
  right: -150px;
  align-items: center;
  position: absolute;
  bottom: 60px;
  justify-content: center;
  z-index: 3;
}

.dayGif {
  margin-bottom: 3px;
}

.deadlineButton, .clock {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -31px;
  font-family: Arial, sans-serif;
}

.deadlineButton {
  color: white;
  background-color: #B68A5B;
}

.deadlineButton:hover {
  background-color: #597E7F;
}