.userContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.userContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5%;
  box-sizing: border-box;
}

/* knight*/
.knightBannerContainer {
  position: relative;
  top: 10%;
  right: 35%;
  width: 30%;
  height: auto;
}

.frameContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.frame {
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 1;
}

.knight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125%;
  height: auto; 
  z-index: 2;
}

.bannerContainer {
  position: absolute;
  top: calc(100% + -35px);
  left: -5%;
  width: 100%;
  height: auto;
  z-index: 2;
}

.banner {
  width: 100%;
  height: auto;
}

.username {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  pointer-events: auto;
}

.userStatsContainer {
  position: absolute;
  top: 15%;
  left: 75%;
  width: 50%;
}

/* Streak */
.streakContainer {
  margin-bottom: 20px;
}

.streakBest,
.streakText {
  display: block;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #5E7255;
}

.streakBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.streakDay {
  width: 12%;
  height: 10px;
  background-color: #E1CF7D;
  border-radius: 5px;
}

.streakDay.active {
  background-color: #5E7255;
}

/*rewards*/
.rewardContainer {
  margin-top: 20px;
}

.rewardTitle {
  margin-bottom: 10px;
  font-size: 24px;
}

.rewardGrid {
  display: flex;
  gap: 10px;
}

.rewardItem {
  width: 60px;
  height: 60px;
  background-color: #E1CF7D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.rewardItem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*deadline*/
.dayGifContainer {
  display: flex;
  flex-direction: column;
  right: -15%;
  align-items: center;
  position: absolute;
  bottom: -110%;
  justify-content: center;
  transform: translateX(-50%);
}

.dayGif {
  margin-bottom: 3px;
}

.deadlineButton {
  padding: 5px 10px;
  background-color: #B68A5B;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -31px;
  font-family: Arial, sans-serif;
}

.deadlineButton:hover {
  background-color: #597E7F;
}